.container {
    display: grid;

    grid-template-rows: 15% 1fr;
    height:100vh;
    width: 100%;
}

.TopBar{
    background-color: rgb(19, 19, 19);

    height: 100%;
    width: 100%;
   

    display: grid;
    justify-content:space-between;
    
    align-items:center;
    align-self: center;
    
    grid-template-rows: 100%;
    grid-template-columns: repeat(3, 34%);

    border-color: rgb(74, 74, 74);
    border-bottom-style: solid;

    padding-right: .5rem;
    

}
.MainScreen{
    background-image: url('/BigDatabaseWebsite/texaschainsaw.gif');
    background-size: cover;
    background-color: rgb(207, 207, 207);
    
    display: grid;
    grid-template-rows: 1fr;
    align-content: center;
    justify-content: center;
    align-items: center;

    border-color: rgb(74, 74, 74);
    border-top-style: solid;
}
.HomePageContainer {
    display: grid;

    gap: 1px;
    grid-template-rows: 15% 10% 1fr;
    height:100vh;
    width: 100%;
}
.HomePageMainScreen{
    background-image: url('/BigDatabaseWebsite/texaschainsaw.gif');
    background-size: cover;
    background-color: rgb(207, 207, 207);
    
    display: flex;
    grid-template-rows: 1fr;
    align-content: center;
    justify-content: center;
    align-items: center;
    

    width: 100%;

    border-color: rgb(74, 74, 74);
    border-top-style: solid;
}
.FilterTab{
    background-color: rgb(19, 19, 19);

    height: 100%;
    width: 100%;
   

    display: grid;
    grid-template-columns: .2fr .2fr;
    justify-content:space-between;
    
    
    align-items:center;
    align-self: center;
    
    grid-template-rows: 100%;


    border-color: rgb(74, 74, 74);
    border-bottom-style: solid;

}
.SignInCard{
    text-align: center;

    background-color: #181818;
    margin: 20px 0 20px 0;
   
    
    width: 50rem;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for visual depth */
    border-radius: 8px; /* Rounded corners */

    color:white;
}
#clothingFilter, #priceFilter{
    background-color: rgb(207, 207, 207);

    border-width: 2px;
    border-color: rgb(74, 74, 74);
    border-bottom-style: solid;
}
form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    margin-top: 1rem;
    padding: 2rem;

    
}

label {
    text-align: left;
    margin-bottom: 0.5rem;
    font-weight: bold;

    font-size: larger;
    color: white;
}

input[type="email"],
input[type="password"] {
    padding: 1rem;
    margin-bottom: 1rem;
    
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%; /* Make inputs take up the full width of the form */
    
    box-sizing: border-box; /* Ensure padding doesn't overflow the width */

    background-color: black;
    color: white;
}

button[type="submit"] {
    padding: 0.75rem;
    
    background-color: #007bff;
    color: white;
    
    border: none;
    border-radius: 4px;
    font-size: x-large;
    
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
.registerLink{
    font-size: x-large;
}

#logo, #cart, #image2, #logout, .CartImg{
    width: 10rem;
    height: 80%;

    justify-self: center;
    
}
#logo, #cart, #logout, .CartImg{
    border-style: solid;
    background-color: rgb(36, 36, 37);
}
#logout{
    visibility: hidden;
}
.purchasableItem{
    width: 100%;
    height: 90%;
    background-color: #282828;
    border: rgb(92, 92, 92);
    border-style: solid;

    position: relative;
}

.ItemContainer{
    display: grid;
    background-color: #000000;

    padding: 1rem;
 
    width: 80%;
    height: 80%;

    justify-self: center;
    gap: 1rem;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: rgb(74, 74, 74);

    max-height: 30rem;

    overflow-y: auto;
}

.purchasableItem img{
    width: 100%;
    height: 100%;
}
.itemPrice{
    position: absolute; /* Position relative to .image-container */
    bottom: -10px;
    left: 50%; /* Center horizontally */
    transform: translate(-50%); /* Center the text exactly */
   
    width: 40%;
    text-align: center;

    font-size: 1.5rem; /* Adjust text size */
    font-weight: bold; /* Optional: make the text bold */
    background-color: rgba(0, 0, 0, 0.5); /* Optional: dark background with transparency */
    padding: 10px; /* Adds padding around text */
    border-radius: 5px; /* Optional: rounds text box corners */
    color: darkred;
}

.outOfStockText{
        position: absolute; /* Position relative to .image-container */
        top: 50%; /* Center vertically */
        left: 50%; /* Center horizontally */
        transform: translate(-50%, -50%); /* Center the text exactly */
        color: darkred; /* Text color */
        font-size: 1.5rem; /* Adjust text size */
        text-align: center;
        
        width: 80%;
        font-weight: bold; /* Optional: make the text bold */
        background-color: rgba(0, 0, 0, 0.5); /* Optional: dark background with transparency */
        padding: 10px; /* Adds padding around text */
        border-radius: 5px; /* Optional: rounds text box corners */
        
        visibility: hidden;
      
}
.CartMainPage{
    display: grid;
    background-color: rgb(19, 19, 19);

    padding: 1rem;
 
    width: 90%;
    height: 85%;

    min-width: 175vh;

   
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    justify-content: space-evenly;
    align-items: center;
    border-style: solid;
    border-color: rgb(74, 74, 74);
}
.CartContainer{
    display: grid;
    background-color: 'clear';

    padding: 1rem;
 
    width: 80%;
    height: 85%;

    gap: 1rem;
    grid-template-columns: 1fr;
    grid-auto-rows: 15rem;
    
    max-height: 65rem;

    overflow-y: auto;

    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: rgb(74, 74, 74);
}
.CheckoutInfo{
    display: grid;
    background-color: #000000;

   
 
    width: 95%;
    height: 85%;
   

    gap: 1rem;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: rgb(74, 74, 74);
}
.CartItem{
    display: grid;
    max-height: 13rem;
    width: 100%;
    height: 90%;
    background-color: #282828;
    border: rgb(92, 92, 92);
    border-style: solid;

    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 2fr 2fr 1fr .5fr;

    position: relative;
}
.PriceText{
    color: green;
    text-align: center;

    font-size: 400%;
}
.ItemTitle{
    color: white;
    text-align: center;

    font-size: 150%;
}
.RemoveItemText{
    color: rgb(177, 21, 21);
    text-align: center;

    font-size: 200%;
}
.ItemAmount{
    color: white;
    text-align: center;

    border-style: solid;
    border-color: black;
    background-color: rgb(51, 58, 53);

    font-size: 200%;
}